@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: white; */
}
/* w-[343px] h-[79px] bg-gray rounded-tr-[34px] rounded-bl-[1px] */
.uui-tab-black-left {
  position: relative;

  width: 300px;
  height: 69px;
  background-color: #f1f1f1;
  border-top-left-radius: 34px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.uui-tab-black-right {
  position: relative;

  width: 300px;
  height: 69px;
  background-color: #f1f1f1;
  border-top-right-radius: 34px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.uui-tab-white-left {
  width: 300px;
  height: 69px;
  background-color: #ffffff;
  border-top-right-radius: 0px;
  border-top-left-radius: 34px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 34px;
}
.uui-tab-white-right {
  width: 300px;
  height: 69px;
  background-color: #ffffff;
  border-top-right-radius: 34px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 0px;
}

.uui-tab-black-right::before {
  z-index: 10;
  content: "";
  position: absolute;

  background-color: transparent;
  left: -50px;
  bottom: -25px;
  height: 25px;
  width: 50px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 -25px 0 0 white;
}
.uui-tab-black-right::after {
  z-index: 1;
  content: "";
  position: absolute;

  background-color: #f1f1f1;
  left: -50px;
  bottom: 0;
  height: 25px;
  width: 50px;
  border-bottom-right-radius: 0;
  box-shadow: 0 -25px 0 0 transparent;
}

.uui-tab-black-left::before {
  z-index: 10;
  content: "";
  position: absolute;

  background-color: transparent;
  right: -50px;
  bottom: -25px;
  height: 25px;
  width: 50px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 -25px 0 0 white;
}
.uui-tab-black-left::after {
  z-index: 1;
  content: "";
  position: absolute;

  background-color: #f1f1f1;
  right: -50px;
  bottom: 0;
  height: 25px;
  width: 50px;
  border-bottom-left-radius: 0;
  box-shadow: 0 -25px 0 0 transparent;
}

.uui-img {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.uui-img-center {
  position: absolute;
  top: 45%; /* Position the top edge at 50% of the container */
  left: 50%; /* Position the left edge at 50% of the container */
  transform: translate(
    -50%,
    -50%
  ); /* Center the image by translating it back by half of its own width and height */
}
